*{
	font-family: 'Titillium Web', sans-serif;
}

#signin{
	background-color: transparent;
}

#signup{
	background-color: transparent;
	color: black; 
	border: 2px solid #3F978D;
}

#search{
	width: 540px;
}

#butsearch{
	background-color: #3F978D;
}

.modal-card{
	width: 350px;
}

#signupbut{
	background-color: #3F978D; 
	color: black;
}

#loginbut{
	background-color: #3F978D;
	color: black;
}

#content {
     width: 250px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

li {
	list-style-type: none;
}

h1 {
	font-family: sans-serif;
	margin: auto;
	text-align: center;
	font-size: 60px;
	max-width: 1000px;
	position:relative;
}

#cb {
	font-family: sans-serif;
	margin: auto;
	text-align: center;
	font-size: 20px;
	max-width: 1000px;
	position:relative;
}

figure {
	margin: auto;
	text-align: center;
	max-width: 1000px;
	position:relative;
}

h2 {
	font-family: sans-serif;
	margin: 10px auto;
	text-align: center;
	font-size: 25px;
	max-width: 1500px;
	position:relative;
}

h2:before {
	content: "";
	display:block;
	width: 480px;
	height:2px;
	background: #000;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: -2;
}

h2:after {
	content: "";
	display:block;
	width: 480px;
	height:2px;
	background: #000;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: -2;
}

.buttons {
	margin-top: 20px;
	position: fixed;
	left: 47%;
}

#box-postproject {
	display: flex;
	margin-right: 16px;
	width: 260px;
	height: 240px;
}

#box-poster{
	display: flex;
	height: 240px;
	width: 100%; 
}

.main-header{
	display: flex;
}

.container{
	margin-top: 40px;
	margin-bottom: 40px;
}

.main-body{
	display: flex;
}

.card{
	width: 270px;
	height: 520px;
	margin: 10px;
}

#post-body{
	height: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 7; /* number of lines to show */
	-webkit-box-orient: vertical;
}

#post-title{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
	font-size: 1.25em;
}

.card-footer{
	font-size: 1em;
	color: #b2b2b2;
}
