html {
  height: 100%;
  margin: auto;
}

*{
	font-family: 'Titillium Web', sans-serif;
}

#signin{
	background-color: transparent;
}

#signup{
	background-color: transparent;
	color: black; 
	border: 2px solid #3F978D;
}

#search{
	width: 540px;
}

#butsearch{
	background-color: #3F978D;
}

.modal-card{
	width: 350px;
}

#signupbut{
	background-color: #3F978D; 
	color: black;
}

#loginbut{
	background-color: #3F978D;
	color: black;
}

li {
	list-style-type: none;
}

h1 {
	margin: auto;
	text-align: center;
	font-size: 60px;
	max-width: 1000px;
	position:relative;
}

#cb {
	margin: auto;
	text-align: center;
	font-size: 20px;
	max-width: 1000px;
	position:relative;
}

figure {
	margin: auto;
	text-align: center;
	max-width: 1000px;
	position:relative;
}

h2 {
	margin: 10px auto;
	text-align: center;
	font-size: 25px;
	max-width: 1500px;
	position:relative;
}

h2:before {
	content: "";
	display:block;
	width: 480px;
	height:2px;
	background: #000;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: -2;
}

h2:after {
	content: "";
	display:block;
	width: 480px;
	height:2px;
	background: #000;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: -2;
}

.buttons {
	margin-top: 20px;
	position: absolute;
	left: 47%;
}

.header-tab a{
	color: #7a7d85;
	font-weight: bold;
	display: inline-block;
	margin-top: 10px;
	transition: 0.2s;
}

.header-tab a:hover{
	background-color: white;
	color: #3F978D;
}


/*BUYERPAGE*/

#buyernavbar {
	position: fixed;
	border-bottom: 1.5px solid #e4e5e7;
	top: 0;
	left: 0;
	right: 0;	
	height: 60px;
}

#buyerpagenavbarstart{
	float: left;
}

#buyerpagenavbarend{
	float: right;
}

#searchbar{
	margin-top: 8px;
	margin-bottom: 0;
	margin-left: 10px;
}

#buyerpagedropdown{
	margin-right: 10px; 
	margin-left: 10px;
	padding-top: 12px;
}

.clearnavbar{
	clear: both;
}

#buypagecontainer{
	margin: auto;
	width: 1300px;
}

.main-header{
	display: flex;
	padding-top: 100px;
	padding-bottom: 20px;
}

.main-body{
	padding-top: 20px;
	width: 100%;
}


#box-postproject {
	margin-right: 16px;
	margin-bottom: 0;
	width: 260px;
	height: 240px;
	background-color: #fafafa;
}

#box-poster{
	height: 240px;
	width: 100%; 
}

#postcard{
	width: 260px;
	height: 520px;
	margin: 30px;
	display: inline-block;
}

.clear{
	clear: left;
}

#post-body{
	height: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 7; /* number of lines to show */
	-webkit-box-orient: vertical;
}

#post-title{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
	font-size: 1.25em;
}

.card-footer{
	font-size: 1em;
	color: #b2b2b2;
}


.slideshow-container {
  max-width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 44%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 60px;
  border-radius: 3px 0 0 3px;
}

.prev{
	left:60px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*CREATE POST*/

.createpost-container{
	width: 1300px;
	margin: auto;
	padding-top: 40px;
	margin-top: 60px;
}

.post-content{
	width: 650px;
	margin-top: 20px;
	border:1px solid #dadbdd;
}

.post-desc{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 630px;
}

.post-image{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 630px;
}

#the-count{
	float: right;
}

.post-category{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 630px;
}

.categories{
	margin-left: 10px;
	width: 300px;
	float: left;
}

.subcategories{
	margin-right: 10px;
	width: 300px;
	float: right;
}


.post-deadlinebudget{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 630px;
}

.deadline{
	margin-top: 10px;
	margin-bottom: 10px;
}


.budget{
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-image{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 630px;
}

.post-submit{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 630px;
}

/*POST DETAIL*/

.postdetail-container{
	width: 1300px;
	margin: auto;
	padding-top: 80px;
}

.postdetail-content{
	width: 700px;
	margin-top: 20px;
	float: left;
}


.postdetail-sidebar{
	width: 450px;
	margin-top: 20px;
	float: right;
}

.sidebar-profile{
	width: 100%;
}

.leftside-profile{
	width: 315px;
	position: relative;
}

.rightside-profile{
	width: 115px;
}

.sidebar-desc{
	margin-top: 15px;
	border:1px solid #dadbdd;
	padding: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*PROFILE PAGE*/

#post-body-profile{
	height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
	
}

/*PROFILE PAGE*/

.profile-container{
	width: 1300px;
	margin: auto;
	padding-top: 80px;
	background-color: white;
}

#edit-pen-status{
	color: #b2b2b2;
	transition: 0.4s;
}

#edit-pen-desc{
	color: #b2b2b2;
	transition: 0.4s;
}

#profile-status p i:hover{
	color: black;
}

.updatebut button{
	background-color: white;
	color:  #48c774;
	transition: 0.4s;
}

.cancelbut button{
	background-color: white;
	color: #de4040;
	transition: 0.4s
}

#updatebut button:hover{
	background-color: #48c774;
	color:  white;
	border-color: #48c774;
}

#cancelbutstat button:hover{
	background-color: #de4040;
	color: white;
	border-color: #de4040;
}

#cancelbutdesc button:hover{
	background-color: #de4040;
	color: white;
}

#cancelbutlang button:hover{
	background-color: #de4040;
	color: white;
}

#cancelbutskill button:hover{
	background-color: #de4040;
	color: white;
}

#cancelbutedu button:hover{
	background-color: #de4040;
	color: white;
}

#profile-desc i:hover{
	color: black;
}

#language-header p:hover{
	text-decoration: underline;
}

.language-edit{
	display: none;
}

.language-namelevel:hover .language-edit{
	display: inline-block;
	transition: 0.4s;
}

.language-edit i {
	color: #b2b2b2;
	transition: 0.4s;
	font-size: 13px; 
	margin-left: 5px;
}

.language-edit i:hover{
	color: black;
}

#skill-header p:hover{
	text-decoration: underline;
}

#education-header p:hover{
	text-decoration: underline;
}

#education-desc p:hover{
	text-decoration: none;
}

.skill-edit{
	display: none;
}

.skill-namelevel:hover .skill-edit{
	display: inline-block;
	transition: 0.4s;
}

.skill-edit i {
	color: #b2b2b2;
	transition: 0.4s;
	font-size: 13px; 
	margin-left: 10px;
}

.skill-edit i:hover{
	color: black;
}

.education-edit{
	display: none;
}

.education-desc:hover .education-edit{
	display: inline-block;
	transition: 0.4s;
}

.education-edit i {
	color: #b2b2b2;
	transition: 0.4s;
	font-size: 13px; 
	margin-left: 5px;
}

.education-edit i:hover{
	color: black;
}


/*CREATE SERVICE PAGE*/

.service-packet{
	width: 601px;
	float: right;
	margin-top: 20px;
	display: flex;
	border-right: 1px solid #dadbdd;
}

.packet-title{
	width: 200px;
	height: 50px;
	border:1px solid #dadbdd;
	border-bottom: none;
	border-right: none;
}

.packet-name{
	padding: 5px;
	background-color: white;
	width: 200px;
	height: 60px;
	border:1px solid #dadbdd;
	border-bottom: none;
	border-right: none;
}


.packet-desc{
	padding: 5px;
	background-color: white;
	width: 200px;
	height: 150px;
	border:1px solid #dadbdd;
	border-bottom: none;
	border-right: none;
}

.packet-deliverytime{
	width: 200px;
	height: 50px;
	border:1px solid #dadbdd;
	border-bottom: none;
	border-right: none;
}

.packet-revision{
	width: 200px;
	height: 50px;
	border:1px solid #dadbdd;
	border-bottom: none;
	border-right: none;
}

.packet-price{
	padding: 5px;
	background-color: white;
	width: 200px;
	height: 60px;
	border:1px solid #dadbdd;
	border-right: none;
}



.submit-but{
	width: 100%; 
	height: 70px; 
	background-color: white; 
	margin-top: 20px;
	border:1px solid #dadbdd;
	display: flex;
	justify-content: center;
	align-items: center;
}

.postservice-content{
	width: 650px;
	margin-top: 20px;
	border:1px solid #dadbdd;
	float: left;
}

/*DETAIL SERVICE PAGE*/

.packet-sidebar{
	width: 450px;
	margin-top: 20px;
	float: right;
	position: fixed;
	left: 850px;
}

.packet-header{
	display: flex;
}

.basic-header{
	width: 150px;
	height: 70px;
	border:1px solid #dadbdd;
	border-bottom: none;
	border-right: none;
	font-weight: bold;
	color: #7a7d85;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
}

.standard-header{
	width: 150px;
	height: 70px;
	border:1px solid #dadbdd;
	border-bottom: none;
	border-right: none;
	font-weight: bold;
	color: #7a7d85;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
}

.premium-header{
	width: 150px;
	height: 70px;
	border:1px solid #dadbdd;
	border-bottom: none;
	font-weight: bold;
	color: #7a7d85;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
}

.packetsidebar-desc{
	border:1px solid #dadbdd;
	padding: 10px;
}


.basic-header:hover {
	cursor: pointer;
}

.standard-header:hover {
	cursor: pointer;
}

.premium-header:hover {
	cursor: pointer;
}

.packet-header .is-active{
	background-color: white;
	color: #1dbf73;
	border-bottom: 3px solid #1dbf73;
}

.button-packet button{
	width: 430px;
}

/*DETAIL SERVICE PAGE*/

#tabservice	li{
	background-color: #fafafa;
	color: #7a7d85;
	width: 120px;
	height: 35px;
	border-bottom: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: none;
	font-weight: bold;
}

#tabservice .is-active{
	border: 1px solid #dadbdd;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
	background-color: white;
	color: #1dbf73;
	border-bottom: none;
}

#tabproject .is-active a{
	background-color: white;
	color: #1dbf73;
}

#tabproject a{
	color: #7a7d85;
}

.dashboard-container{
	width: 1300px;
	padding-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

.dashboard-left{
	width: 325px;
	height: 500px;
	float: left;
	padding: 5px;
	margin-right: 10px;
}

.dashboard-right{
	width: 965px;	
	float: right;
	padding: 5px;
}

.dashboard-status{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #dadbdd;
}

.dashboard-inbox{
	width: 100%;
	padding: 10px;
	border: 1px solid #dadbdd;
}

.status-header{
	width: 100%;
	display: flex;
	align-items: center;
	word-wrap: break-word;
	border-bottom: 1px solid #dadbdd;
	padding-bottom: 20px;
}

.status-body{
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dadbdd;
}

.status-earned{
	padding-top: 20px;
	padding-bottom: 10px;
}

.inbox-header{
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
	border-bottom: 2px solid #dadbdd;
}

.inbox-card{
	display: flex;
	align-content: center;
}

.card-text p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.card-notif p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.request-header{
	width: 100%;
	height: 70px;
	border: 1px solid #dadbdd;
	box-shadow: 0px 1px #eeeeee;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
}

.status-tab{
	margin-top: 20px;
}

.status-tab a{
	color: #7a7d85;
}

#status .is-active{
	color: #00d1b2;
}

.tabs li.is-active a{
	color: #00d1b2;
}

.request-project-body{
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.request-service-body{
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.project-card{
	display: flex;
	height: 100px;
	margin-bottom: 30px;
}

.card-title-tag{
	margin-left: 10px;
	width: 230px;
	border-right: 1px solid #dadbdd;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-service-tag{
	padding-left: 10px;
	padding-right: 10px;
	width: 400px;
	border-right: 1px solid #dadbdd;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.service-tag-left{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-end;
}

.service-tag-right{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-service-tag p{
	font-size: 0.9em;
}

.card-action{
	margin-left: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-tag p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.reqby p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.rating-star{
	width: 350px;
	background-color: #666;
	border: 1px solid #444;
	border-radius: 1%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rating-star .star-widget input{
  display: none;
}

.rating-feedback{
	width: 100%;
	text-align: center;
}

.rating-feedback p{
	font-size: 30px;
	font-family: 'Marck Script', cursive;
	font-weight: bold;
	color: #fd4;
}

.star-widget label{
  font-size: 25px;
  color: #444;
  padding: 12px;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}

input:checked ~ label{
  color: #fd4;
}

input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ .rating-caption p:before{
  content: "I just hate it \1F620";
  font-family: 'Reenie Beanie', cursive;
  font-weight: bold;
}

#rate-2:checked ~ .rating-caption p:before{
  content: "I don't like it \1F615";
  font-family: 'Reenie Beanie', cursive;
  font-weight: bold;
}

#rate-3:checked ~ .rating-caption p:before{
  content: "It is awesome \1F60F";
  font-family: 'Reenie Beanie', cursive;
  font-weight: bold;
}

#rate-4:checked ~ .rating-caption p:before{
  content: "I just like it \1F60A";
  font-family: 'Reenie Beanie', cursive;
  font-weight: bold;
}

#rate-5:checked ~ .rating-caption p:before{
  content: "I just love it \1F60D";
  font-family: 'Reenie Beanie', cursive;
  font-weight: bold;
}

.rating-star .rating-caption{
  display: none;
}

input:checked ~ .rating-caption{
  display: block;
}

.rating-caption{
	width: 100%;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	color: white;
	font-weight: 500;
}

.feedback{
  height: 100px;
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
}

.feedback textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

.feedback textarea:focus{
  border-color: #444;
}

.btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

.btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn button:hover{
  background: #1b1b1b;
}

#modal-content-rating{
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal .modal-content{
	width: 355px;
}


#finish-but-project span{
	background-color: white;
	border: 1px solid #ebfffc;
	transition: 0.3s;
}

#finish-but-project span:hover{
	background-color: #ebfffc;
	border: 1px solid white;
}

#cancel-but-project span{
	background-color: white;
	border: 1px solid #feecf0;
	transition: 0.3s;
}

#cancel-but-project span:hover{
	background-color: #feecf0;
	border: 1px solid white;
	cursor: pointer;
}

#revision-but-project span{
	background-color: white;
	border: 1px solid #fffaeb;
	transition: 0.3s;
}

#revision-but-project span:hover{
	background-color: #fffaeb;
	border: 1px solid white;
}

#cancel-but-project button{
	background-color: white;
	border: 1px solid #fffaeb;
	transition: 0.3s;
	height: 25px;
}

#cancel-but-project button:hover{
	background-color: #fffaeb;
	border: 1px solid white;
	height: 25px;
}


#topup1 button{
	transition: 0.3s
}

#topup2 button{
	transition: 0.3s
}

.page-container{
	width: 1300px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 100px;
}

.chat-container{
	width: 900px;
	height: 500px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}

.inbox{
	height: 100%;
	width: 300px;
	overflow: auto;
	border: 1px solid #dbdbdb;
}

.chatbox{
	height: 100%;
	width: 600px;
}

.chatbox-header{
	width: 100%;
	height: 13%;
	border: 1px solid #dbdbdb;
	border-bottom: none;
	border-left: none;
}

.chatbox-content{
	width: 100%;
	height: 74%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 1px solid #dbdbdb;
	border-left: none;
	border-bottom: none;
}

.chatbox-footer{
	width: 100%;
	height: 13%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}

.inbox-user{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	padding: 5px;
	height: 70px;
}

.inbox-user:hover{
	background-color: #eaeaea;
	cursor: pointer;
}

.profile{
	width: 150px;
	border: 2px solid #060606;
	border-radius: 5px;
	height: 50px;
	display: flex;
	align-items: center;
}

.profile img{
	width: 45px;
	height: 40px;
	margin-left: 5px;
	border-radius: 5px;
}

.profile p{
	font-weight: bold;
	margin-left: 5px;
}

.user-image{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
}

.user-image img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 0px;
	margin: 0px;
}

.user-username-message{
	margin-left: 10px;
	width: 240px;
}

.user-message{
	display: flex;
	align-items: center;
}

.user-message p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
	font-size: 0.8em;
}

.chatbox-header{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.chatbox-image{
	margin-right: 10px;
	margin-left: 20px;
	display: flex;
	align-items: center;
}

.chatbox-image img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.chatbox-name{
	display: flex;
	align-items: center;
}

.chatbox-name p{
	font-weight: bold;
}

.sender{
	display: flex;
	padding: 10px;
	width: 100%;
	justify-content: flex-start;
}

.chat-image{
	display: flex;
	justify-content: flex-end;
}

.chat-image img{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.chat{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 200px;
}

.chat .chat-bubble{
	background-color: white;
	border-radius: 8px;
	margin: 5px;
	margin-left: 10px;
	padding: 5px;
	border: 1px solid #e0e0e0;
}

.reciever{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding: 10px;
}

.chat-reciever{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 200px;
}

.chat-reciever .chat-bubble{
	background-color: #efefef;
	border-radius: 8px;
	margin: 5px;
	margin-left: 10px;
	padding: 5px;
}

.chatbox-footer{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message-input{
	width: 100%;
	height: 45px;
	border-radius: 15px;
	border: 1px solid #e5e5e5;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left-input{
	display: flex;
	align-items: center;
}

.right-input{
	display: flex;
	align-items: center;
}