{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% if title %}
            <title>Libre - {{ title }}</title>
        {% else %}
            <title>Libre</title>
        {% endif %}
    </head>

    <body>
        {% if request.user.is_authenticated %}
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand mb-1">
            <a class="navbar-item" href="{% url 'buyerpage' %}">
              <img src="{% static 'images/librelogo.png' %}" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="field has-addons mt-4 ml-2">
              <div class="control has-icons-left" >
                <input class="input is-small fas fa-search" type="text" placeholder="Try some services">
                <span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <div class="control">
                <a class="button is-small has-text-black" style="background-color: #3F978D">
                  Search
                </a>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-start">
                <a href="{% url 'projectlist' %}" class="navbar-item">
                  List
                </a>

                <a class="navbar-item">
                  Orders
                </a>

                <a class="navbar-item"  style="color: #3F978D">
                  Freelancer Page
                </a>
              </div>
              <div class="navbar-item">
                <div class="dropdown is-right">
                  <div class="dropdown-trigger">
                    <button class="button is-dark is-inverted" aria-haspopup="true" aria-controls="dropdown-menu">
                      <span>
                        <figure class="image is-square is-24x24">
                          <img class="is-rounded" src="{{account.image.url}}">
                        </figure>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <a href="{% url 'profile' %}" class="dropdown-item">
                        Profile
                      </a>
                      <a class="dropdown-item">
                        Other dropdown item
                      </a>
                      <a href="#" class="dropdown-item is-active">
                        Active dropdown item
                      </a>
                      <a href="#" class="dropdown-item">
                        Other dropdown item
                      </a>
                      <hr class="dropdown-divider">
                      <a href="{% url 'logout' %}" class="dropdown-item">
                        Log Out
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <section class="section is-hidden-mobile">
          <div class="container">
            
            
            <div class="columns">
              <div class="column">
                
              </div>
              <div class="column">
                <h3 class="title has-text-centered is-size-4">Services</h3>
              </div>
              <div class="column has-text-right">
                <a href="{% url 'blog:create' %}">
                  <button class="button is-rounded" style="background-color: #3F978D; font-family: 'Roboto', sans-serif;">Add Project</button>
                </a>
              </div>
            </div>
            <div class="mt-5 columns">
              
              <div class="column" style="display:grid; max-width: 1250px; grid-column-gap: 50px; grid-row-gap: 40px; grid-template-columns: repeat(auto-fill, 250px);">
                {% for post in blog_posts %}
                <div class="card">

                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="{{post.image.url}}" alt="Post Image">
                    </figure>
                  </div>

                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-square is-48x48">
                          <img class="is-rounded" src="{{post.author.image.url}}" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <a href="{% url 'blog:detail' post.slug %}" class="title is-4">{{post.title}}</a>
                        <br>
                        <a class="subtitle is-6">@{{post.author.username}}</a>
                      </div>
                    </div>

                    <div class="content" id="content">
                      {{post.body|safe}}
                    </div>
                  </div>

                  <footer class="card-footer pl-1">
                    <time datetime="2016-1-1" class="is-size-7">{{post.date_published}}</time>
                  </footer>

                </div>
                {% endfor %}
              </div>
              
            </div>
          </div>
        </section>
    <script>
      var dropdown = document.querySelector('.dropdown');

      dropdown.addEventListener('click', function(event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
      })
    </script>
    {% endif %}
    </body>
</html>