{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        {% if title %}
            <title>Libre - {{ title }}</title>
        {% else %}
            <title>Libre</title>
        {% endif %}
    </head>

    <body>
    {% if request.user.is_authenticated %}
        <nav class="navbar" role="navigation" aria-label="main navigation" id="buyernavbar">
          <div class="navbar-start" id="buyernavbarstart">
            <div class="navbar-brand mb-1">
              <a class="navbar-item" href="{% url 'buyerpage' %}">
                <img src="{% static 'images/librelogo.png' %}" width="112" height="28">
              </a>

              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div class="field has-addons" id="searchbar">
              <p class="control">
                <input class="input" type="text" placeholder="Find a post">
              </p>
              <p class="control">
                <button class="button">
                  Search
                </button>
              </p>
            </div>
          </div>
          
          <div class="navbar-end" id="buyernavbarend">
              <a href="{% url 'buyerpage' %}" class="navbar-item"  style="color: #3F978D; font-weight: bold;">
                Project Page
              </a>
              <a href="{% url 'service:sellerpage' %}" class="navbar-item"  style="color: #3F978D; font-weight: bold;">
                Service Page
              </a>
              <div class="dropdown is-right" id="buyerpagedropdown">
                <div class="dropdown-trigger">
                  <span>
                    <figure class="image" >
                      <img style="width: 35px; height: 35px; border-radius: 50%;" src="{{account.image.url}}">
                    </figure>
                  </span>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu" style="border:1px solid #e4e5e7; margin-top: 5px;">
                <div class="dropdown-content">
                  <a style="font-weight: bold;" href="{% url 'profile' account.slug %}" class="dropdown-item">
                    Profile
                  </a>
                  <a style="font-weight: bold; color: #3F978D;" href="{% url 'dashboard' account.slug %}" class="dropdown-item">
                    Dashboard
                  </a>
                  <a style="font-weight: bold;" href="{% url 'projectlist' %}" class="dropdown-item">
                    Project Orders
                  </a>
                  <a style="font-weight: bold;" href="{% url 'servicelist' %}" class="dropdown-item">
                    Service Orders
                  </a>
                  <hr class="dropdown-divider">
                  <a href="{% url 'logout' %}" class="dropdown-item">
                    Log Out
                  </a>
                </div>
              </div>
              </div>
            </div>

            <div class="clearnavbar"></div>
        </nav>

        <div class="postdetail-container">

          <div class="postdetail-content">
            <div class="postdetail-header">
              {% if avail_post.author == request.user %}
              <div class="header-detail" style="width: 550px; float: left; word-wrap: break-word;">
                <p style="font-size: 2.3em; font-weight: bold; margin-bottom: 5px;">
                {{avail_post.title}}
                </p>
                <figure class="image" style="display: inline-block;">
                  <img style="width: 35px; height: 35px; border-radius: 50%;" src="{{avail_post.author.image.url}}">
                </figure>
                <a href="{% url 'profile' avail_post.author.slug %}" style="color: black;">
                  <p style="display: inline-block; font-weight: bold; position: relative; bottom: 12px; left: 5px;">
                    {{avail_post.author.username}}
                  </p>
                </a>
                <p style="display: inline-block; position: relative; bottom: 13.5px; left: 8px; font-size: 15px; color: #62646a">|
                </p>
                <i class="fas fa-star" style="display: inline-block; position: relative; bottom: 12px; left: 10px; color: #ffb33e"></i>
                <i class="fas fa-star" style="display: inline-block; position: relative; bottom: 12px; left: 10px; color: #ffb33e"></i>
                <i class="fas fa-star" style="display: inline-block; position: relative; bottom: 12px; left: 10px; color: #ffb33e"></i>
                <i class="fas fa-star" style="display: inline-block; position: relative; bottom: 12px; left: 10px; color: #ffb33e"></i>
                <i class="fas fa-star" style="display: inline-block; position: relative; bottom: 12px; left: 10px; color: #ffb33e"></i>
                <p style="display: inline-block; position: relative; bottom: 11px; left: 10px; color: #ffb33e; font-weight: bold;">4.9</p>
                <p style="display: inline-block; position: relative; bottom: 11px; left: 10px; color: #62646a;">(120)</p>
              </div>
              <div class="postdetail-options" style="width: 130px; float: right; padding-top: 10px;">
                <a href="{% url 'blog:edit' avail_post.slug %}">
                  <button class="button is-outlined is-rounded is-warning">
                    <span>
                      <i class="fas fa-edit"></i>
                    </span>
                  </button>
                </a>
                <a href="{% url 'blog:delete' avail_post.slug %}">
                  <button class="button is-outlined is-rounded is-danger">
                    <span>
                      <i class="far fa-trash-alt"></i>
                    </span>
                  </button>
                </a> 
              </div>
              <div class="clear" style="clear: both;"></div>
              {% else %}
              <p style="font-size: 2.3em; font-weight: bold; margin-bottom: 5px;">
                {{avail_post.title}}
              </p>
              <figure class="image" style="display: inline-block;">
                <img style="width: 35px; height: 35px; border-radius: 50%;" src="{{avail_post.author.image.url}}">
              </figure>
              <a href="{% url 'profile' avail_post.author.slug %}" style="color: black;">
                <p style="display: inline-block; font-weight: bold; position: relative; bottom: 12px; left: 5px;">
                  {{avail_post.author.username}}
                </p>
              </a>
              <p style="display: inline-block; position: relative; bottom: 13.5px; left: 8px; font-size: 15px; color: #62646a">|
              </p>
              <i class="fas fa-star" style="display: inline-block; position: relative; bottom: 12px; left: 10px; color: #ffb33e"></i>
              <i class="fas fa-star" style="display: inline-block; position: relative; bottom: 12px; left: 10px; color: #ffb33e"></i>
              <i class="fas fa-star" style="display: inline-block; position: relative; bottom: 12px; left: 10px; color: #ffb33e"></i>
              <i class="fas fa-star" style="display: inline-block; position: relative; bottom: 12px; left: 10px; color: #ffb33e"></i>
              <i class="fas fa-star" style="display: inline-block; position: relative; bottom: 12px; left: 10px; color: #ffb33e"></i>
              <p style="display: inline-block; position: relative; bottom: 11px; left: 10px; color: #ffb33e; font-weight: bold;">4.9</p>
              <p style="display: inline-block; position: relative; bottom: 11px; left: 10px; color: #62646a;">(120)</p> 
              {% endif %}
            </div>

            <div class="postdetail-main">
              <div class="cover" style="margin-top: 10px;">
                <figure class="image">
                  <img style="width: 450px; height: 450px; margin-left: auto; margin-right: auto;" src="{{avail_post.image.url}}">
                </figure>
              </div>
              <div class="detail" style="margin-top: 20px;">
                <p style="font-size: 1.25em; font-weight: bold;">About this project</p>
                <p style="margin-top: 5px;">{{avail_post.body}}</p>
              </div>
              <div class="deadlinebudget" style="margin-top: 20px; padding-top: 20px; border-top:1px solid #dadbdd;">
                <p style="font-size: 1.25em; font-weight: bold; margin-bottom: 10px;">Budget & Deadline</p>
                <div class="dead" style="float: left; width: 345px;">
                  <div class="box" style="width: 200px; height: 80px; margin: auto;">
                    <figure class="image" style="display: inline-block; margin:auto;">
                      <img style="width: 40px; height: 40px;" src="{% static 'images/hourglass.png' %}">
                    </figure>
                    <p style="display: inline-block; font-size: 20px; margin: auto; position: relative; bottom: 10px;">
                      {{avail_post.deadline}} Days
                    </p>
                  </div>
                </div>
                <div class="bud" style="float: right; width: 345px;">
                  <div class="box" style="width: 300px; height: 80px; margin: auto;">
                    <figure class="image" style="display: inline-block; position: relative; left: 20px;">
                      <img style="width: 40px; height: 40px;" src="{% static 'images/salary.png' %}">
                    </figure>
                    <p style="display: inline-block; font-size: 20px; position: relative; bottom: 10px; left: 20px; margin-left: 10px;">
                      Rp {{avail_post.budget}}
                    </p>                    
                  </div>
                </div>
                <div class="clear" style="clear: both;"></div>
              </div>

              <div class="postdetail-category" style="margin-top: 20px; border-top:1px solid #dadbdd; padding-top: 20px;">
                <p style="font-size: 1.25em; font-weight: bold; margin-bottom: 10px;">Tag</p>
                <span class="tag">{{avail_post.category.name}}</span>
                <span class="tag">{{avail_post.subcategory.name}}</span>
                <span class="tag">Three</span>
                <span class="tag">Four</span>
                <span class="tag">Five</span>
                <span class="tag">Six</span>
                <span class="tag">Seven</span>
                <span class="tag">Eight</span>
                <span class="tag">Nine</span>
                <span class="tag">Ten</span>
              </div>
              {% if avail_post.author != request.user %}
              <div class="postdetail-action" style="margin-top: 20px; border-top:1px solid #dadbdd; padding-top: 20px;">
                <div class="apply-button" style="width: 182px; margin: auto;">
                  {% if applied_post %}
                  <a href="{% url 'blog:cancelled-project' avail_post.slug %}">
                    <button class="button is-outlined is-rounded is-danger">
                      <span>
                        <i class="fas fa-times"></i>
                      </span>
                      <span style="margin-left: 10px;">Cancel this project</span>
                    </button>
                  </a>
                  {% else %}
                  <a href="{% url 'blog:add-to-projectlist' avail_post.slug %}">
                    <button class="button is-outlined is-rounded is-success">
                      <span>
                        <i class="far fa-plus"></i>
                      </span>
                      <span style="margin-left: 10px;">Apply this project</span>
                    </button>
                  </a>
                  {% endif %}                  
                </div>
              </div>
              {% endif %}
            </div>

          </div>

          <div class="postdetail-sidebar">
            <div class="sidebar-profile">
              <p style="font-size: 1.5em; font-weight: bold; margin-bottom: 20px;">About the seller</p>
              <div class="leftside-profile" style="float: left; border-right: 1px solid #dadbdd;">
                <figure class="image" style="display: inline-block;">
                  <img style="width: 110px; height: 110px; border-radius: 50%;" src="{{avail_post.author.image.url}}">
                </figure>
                <div class="figuretext" style="display: inline-block; position: relative; bottom: 30px; left: 10px;">
                  <a href="{% url 'profile' avail_post.author.slug %}" style="color: black;">
                    <p style="font-weight: bold; font-size: 1.25em;">
                      {{avail_post.author.first_name}} {{avail_post.author.last_name}}
                    </p>
                  </a>
                  
                  <p>{{avail_post.author.status}}</p>
                  <i class="fas fa-star" style="display: inline-block; color: #ffb33e; margin-top: 5px;"></i>
                  <p style="display: inline-block; color: #ffb33e; font-weight: bold;">4.9</p>
                  <p style="display: inline-block; color: #62646a;">(120)</p>
                </div>
              </div>
              {% if avail_post.author.email != request.user.email %}
              <div class="rightside-profile" style="float: right; padding-top: 10px;">
                <button class="button is-outlined" style="display: block;">Contact Me</button>
                <div class="tooltip">
                  <button class="button is-outlined" style="display: inline-block; margin-top: 5px;"><img style="width: 15px; height: 15px;" src="{% static 'images/finish.png' %}"></button>
                  <span class="tooltiptext">Report</span>
                </div>
              </div>
              <div class="clear" style="clear: both;"></div>
              {% else %} 
              <div class="clear" style="clear: left;"></div>
              {% endif %}            
            </div>
            <div class="sidebar-desc">
              <div class="sidebar-desc-header">
                <div class="leftside-desc-header" style="width: 200px; float: left;">
                  <p>
                    From
                  </p>
                  <p style="font-weight: bold;">
                    {{avail_post.author.origin}}
                  </p>
                  <p style="margin-top: 20px;">
                    Total Project Request
                  </p>
                  <p style="font-weight: bold;">
                    {{project_count}}
                  </p>
                </div>
                <div class="rightside-desc-header" style="width: 200px; float: right;">
                  <p>
                    Member Since
                  </p>
                  <p style="font-weight: bold;">
                    {{avail_post.author.date_joined}}
                  </p>
                  <p style="margin-top: 20px;">
                    Total Services
                  </p>
                  <p style="font-weight: bold;">
                    {{service_count}}
                  </p>
                </div>
              </div>
              <div class="clear" style="clear: both;"></div>
              <p style="margin-top: 20px; border-top: 1px solid #dadbdd">{{avail_post.author.description}}</p>
            </div>
          </div>

          <div class="clear" style="clear: both;"></div>          

          <div class="libre-footer" style="height: 80px; border-top: 2px solid #e4e5e7; margin-top: 30px;">
            <div class="content-left">
              <img style="width: 80px; height: 80px; display: inline-block; margin-bottom: -6px;" src="{% static 'images/libre.png' %}">
              <p style="font-size: 12px; color: #b5b6ba; display: inline-block; position: relative; bottom: 30px;">&copy; Libre Semarang Pride Company Ltd. 2021</p>
            </div>
            
          </div>
        </div>


    {% endif %}
    <script type="text/javascript">

    var dropdown = document.querySelector('.dropdown');

      dropdown.addEventListener('click', function(event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
      })

    </script>
    </body>
</html>