{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Hello Bulma!</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script>
        $(document).ready(function(){
          $("#servicereqbut").click(function(){
            $(".request-project-body").toggle();
            $(".request-service-body").toggle();
            $("#servicereqbut").toggle();
            $("#servicereqtit").toggle();
            $("#projectreqbut").toggle();
            $("#projectreqtit").toggle();
          });

          $("#projectreqbut").click(function(){
            $(".request-project-body").toggle();
            $(".request-service-body").toggle();
            $("#servicereqbut").toggle();
            $("#servicereqtit").toggle();
            $("#projectreqbut").toggle();
            $("#projectreqtit").toggle();
          });
        });

      </script>
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

      {% if title %}
          <title>Libre - {{ title }}</title>
      {% else %}
          <title>Libre</title>
      {% endif %}
    </head>

    <body>

      {% if request.user.is_authenticated %}
      <nav class="navbar" role="navigation" aria-label="main navigation" id="buyernavbar">
        <div class="navbar-start" id="buyernavbarstart">
          <div class="navbar-brand mb-1">
            <a class="navbar-item" href="{% url 'buyerpage' %}">
              <img src="{% static 'images/librelogo.png' %}" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="field has-addons" id="searchbar">
            <p class="control">
              <input class="input" type="text" placeholder="Find a post">
            </p>
            <p class="control">
              <button class="button">
                Search
              </button>
            </p>
          </div>
        </div>
        
        <div class="navbar-end" id="buyernavbarend">
          <div class="header-tab">
            <a href="{% url 'buyerpage' %}" class="navbar-item">
              Project Page
            </a>
            <a href="{% url 'service:sellerpage' %}" class="navbar-item">
              Service Page
            </a>
          </div>
          <div class="dropdown is-right" id="buyerpagedropdown">
            <div class="dropdown-trigger">
              <span>
                <figure class="image" >
                  <img style="width: 35px; height: 35px; border-radius: 50%;" src="{{account.image.url}}">
                </figure>
              </span>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu" style="border:1px solid #e4e5e7; margin-top: 5px;">
              <div class="dropdown-content">
                <a style="font-weight: bold;" href="{% url 'profile' account.slug %}" class="dropdown-item">
                  Profile
                </a>
                <a style="font-weight: bold;" href="{% url 'projectlist' %}" class="dropdown-item">
                  List
                </a>
                <a style="font-weight: bold;" href="{% url 'servicelist' %}" class="dropdown-item">
                  Order
                </a>
                <hr class="dropdown-divider">
                <a href="{% url 'logout' %}" class="dropdown-item">
                  Log Out
                </a>
              </div>
            </div>
          </div>
          </div>

          <div class="clearnavbar"></div>
      </nav>

      <div class="dashboard-container">

        <div class="dashboard-left">
          
          <div class="dashboard-status">
            <div class="status-header">
              <img style="width: 60px; height: 60px; border-radius: 50%; margin-right: 10px;" src="{{account.image.url}}" style="flex-grow: 1;">
              <p style="font-weight: bold; flex-grow: 2;">{{account.first_name}} {{account.last_name}}</p>
              <span style="display: flex; flex-grow: 1; align-items: center;">
                <i class="fas fa-star" style="color: #ffc100; margin-right: 5px;"></i>
                <p>N/A</p>
              </span>
            </div>
            <div class="status-body">
              <div class="status-title" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                <p style="width: 165px;">Message response rate</p>
                <span>
                  <progress style="width: 60px; height: 10px;" class="progress is-success" value="60" max="100">60%</progress>
                </span>
                <span style="width: 40px; display: flex; justify-content: flex-end;">60%</span>
              </div>
              <div class="status-title" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                <p style="width: 165px;">Order response rate</p>
                <span>
                  <progress style="width: 60px; height: 10px;" class="progress is-success" value="80" max="100">60%</progress>
                </span>
                <span style="width: 40px;display: flex; justify-content: flex-end;">80%</span>
              </div>
              <div class="status-title" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                <p style="width: 165px;">Delivered on time</p>
                <span>
                  <progress style="width: 60px; height: 10px;" class="progress is-success" value="100" max="100">60%</progress>
                </span>
                <span style="width: 40px; display: flex; justify-content: flex-end;">100%</span>
              </div>
              <div class="status-title" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                <p style="width: 165px;">Order completion</p>
                <span>
                  <progress style="width: 60px; height: 10px;" class="progress is-success" value="60" max="100">60%</progress>
                </span>
                <span style="width: 40px; display: flex; justify-content: flex-end;">60%</span>
              </div>
            </div> 
            <div class="status-earned" style="display: flex; justify-content: space-between;">
              <p>Total earned</p>
              <p style="font-weight: bold;">Rp100.000</p>
            </div>           
          </div>

          <div class="dashboard-inbox">
            <div class="inbox-header">
              <p>Inbox (18 Messages)</p>
              <p style="color: #3F978D;">View All</p>
            </div>
            <div class="inbox-body" style="height: 62px; overflow: auto; padding-top: 5px;">
              <div class="inbox-card" style="padding: 5px;">
                <img style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;" src="{{account.image.url}}">
                <div class="card-text" style="width: 170px;">
                  <p style="font-size: 0.95em; font-weight: bold;">{{ account.username }}</p>
                  <p style="font-size: 0.95em;">so close no matter how farrrrrrr</p>
                </div>
                <div class="card-notif" style="width: 60px;">
                  <p style="font-size: 0.90em; margin-bottom: 5px;color: #b5b6ba">1 Week</p>
                  <div class="green-notif-messages" style="display: flex;">
                    <div class="green-notif" style="width: 20px; height: 15px; background-color: #1dbf73; border-radius: 35%; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                      <p style=" font-size: 0.90em; color: white;">1</p>
                    </div>
                    <i class="far fa-envelope" style="color: #b5b6ba;"></i>
                  </div>        
                </div>
              </div>
              <div class="inbox-card" style="padding: 5px;">
                <img style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;" src="{{account.image.url}}">
                <div class="card-text" style="width: 170px;">
                  <p style="font-size: 0.95em; font-weight: bold;">{{ account.username }}</p>
                  <p style="font-size: 0.95em;">so close no matter how farrrrrrr</p>
                </div>
                <div class="card-notif" style="width: 60px;">
                  <p style="font-size: 0.90em; margin-bottom: 5px;color: #b5b6ba">1 Week</p>
                  <div class="green-notif-messages" style="display: flex;">
                    <div class="green-notif" style="width: 20px; height: 15px; background-color: #1dbf73; border-radius: 35%; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                      <p style=" font-size: 0.90em; color: white;">1</p>
                    </div>
                    <i class="far fa-envelope" style="color: #b5b6ba;"></i>
                  </div>        
                </div>
              </div>
              <div class="inbox-card" style="padding: 5px;">
                <img style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;" src="{{account.image.url}}">
                <div class="card-text" style="width: 170px;">
                  <p style="font-size: 0.95em; font-weight: bold;">{{ account.username }}</p>
                  <p style="font-size: 0.95em;">so close no matter how farrrrrrr</p>
                </div>
                <div class="card-notif" style="width: 60px;">
                  <p style="font-size: 0.90em; margin-bottom: 5px;color: #b5b6ba">1 Week</p>
                  <div class="green-notif-messages" style="display: flex;">
                    <div class="green-notif" style="width: 20px; height: 15px; background-color: #1dbf73; border-radius: 35%; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                      <p style=" font-size: 0.90em; color: white;">1</p>
                    </div>
                    <i class="far fa-envelope" style="color: #b5b6ba;"></i>
                  </div>        
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="dashboard-right">

          <div class="request-header">
            <p class="reqtitle" id="projectreqtit" style="font-size: 1.5em; font-weight: bold;">Project Requests</p>
            <p class="reqtitle" id="servicereqtit" style="font-size: 1.5em; font-weight: bold; display: none;">Service Requests</p>
            <button class="button is-primary is-rounded" id="servicereqbut">Service Requests
              <i class="fad fa-chevron-double-right" style="margin-left: 10px;"></i>
            </button>
            <button class="button is-primary is-rounded" style="display: none;" id="projectreqbut">Project Requests
              <i class="fad fa-chevron-double-right" style="margin-left: 10px;"></i>
            </button>
        </div>


        <div class="status-tab">
          <div class="tabs is-boxed">
            <ul id="status">
              <li class="is-active" data-target="pending-project" id="pendingtab">
                <a class="tablinks" id="status" onclick="statusTab(event, 'pending-project')">  
                  <span class="icon is-small"><i class="fal fa-spinner"></i></span>
                  <span style="font-weight: bold;">Pending</span>
                </a>
              </li>
              <li class="" data-target="working-project" id="workingtab">
                <a class="tablinks" id="status" onclick="statusTab(event, 'working-project')">
                  <span class="icon is-small"><i class="fas fa-pencil-ruler"></i></span>
                  <span style="font-weight: bold;">Working</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="tabcontent" id="pending-project">
          <div class="request-project-body" id="request-project-body">
            {% for prj in projectreqpending %}
                <div class="project-card">
                  <div class="card-image">
                    <img style="width: 120px; height: 100%; border-radius: 5%;" src="{{ prj.project.image.url }}">
                  </div>
                  <div class="card-title-tag">
                    <div class="card-tag">
                      <a href="{% url 'blog:detail' prj.project.slug %}" style="text-decoration: none; color: #4a4a4a;">
                        <p style="font-weight: bold; font-size: 1.2em;">{{ prj.project.title }}</p>
                      </a>
                      <span class="tag is-primary is-light">{{ prj.project.category }}</span>
                      <span class="tag is-primary is-light">{{ prj.project.subcategory }}</span>
                    </div>
                    <div class="reqby">
                      <p style="font-size: 0.9em;">Requested by: <a style="text-decoration: none; color: #4a4a4a;" href="{% url 'profile' prj.user.slug %}"><b>{{ prj.user.username }}</b></a> </p>
                    </div>
                  </div>
                  <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="card-action">
                      <div class="select is-primary">
                        <select style="width: 100px;" name="statusoption">
                          <option disabled selected>Options</option>
                          <option value="accept">Accept</option>
                          <option value="decline">Decline</option>
                        </select>
                      </div>
                      <input class="input is-hidden" type="text" placeholder="Title..." value="{{prj.pl_id}}" name="project_id" id="id_title">
                      
                      <button style="width: 100%" type="submit" class="button is-primary">Confirm</button>
                    </div>
                  </form>
                </div>
            {% endfor %}
          </div>
        </div>

        <div class="tabcontent" style="display: none;" id="working-project">
          <div class="request-project-body" id="request-project-body">
            {% for prj in projectreqongoing %}
                <div class="project-card">
                  <div class="card-image">
                    <img style="width: 120px; height: 100%; border-radius: 5%;" src="{{ prj.project.image.url }}">
                  </div>
                  <div class="card-title-tag">
                    <div class="card-tag">
                      <a href="{% url 'blog:detail' prj.project.slug %}" style="text-decoration: none; color: #4a4a4a;">
                        <p style="font-weight: bold; font-size: 1.2em;">{{ prj.project.title }}</p>
                      </a>
                      <span class="tag is-primary is-light">{{ prj.project.category }}</span>
                      <span class="tag is-primary is-light">{{ prj.project.subcategory }}</span>
                    </div>
                    <div class="reqby">
                      <p style="font-size: 0.9em;">Requested by: <a style="text-decoration: none; color: #4a4a4a;" href="{% url 'profile' prj.user.slug %}"><b>{{ prj.user.username }}</b></a> </p>
                    </div>
                  </div>
                  <div class="card-action">
                    <div class="select is-primary">
                      <select style="width: 100px;">
                        <option disabled selected>Options</option>
                        <option>Accept</option>
                        <option>Decline</option>
                      </select>
                    </div>
                    <button class="button is-primary">Confirm</button>
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>

        <div class="request-service-body" style="display: none;" id="request-service-body">
          {% for srv in servicereq %}
          <div class="project-card">
            <div class="card-image">
              <img style="width: 120px; height: 100%; border-radius: 5%;" src="{{srv.service.image.url}}">
            </div>
            <div class="card-title-tag">
              <div class="card-tag">
                <a href="{% url 'service:detail-service' srv.service.slug %}" style="text-decoration: none; color: #4a4a4a;">
                  <p style="font-weight: bold; font-size: 1.2em;">{{ srv.service.title }}</p>
                </a>
                <span class="tag is-primary is-light">{{ srv.service.category }}</span>
                <span class="tag is-primary is-light">{{ srv.service.subcategory }}</span>
              </div>
              <div class="reqby">
                <p style="font-size: 0.9em;">Requested by: <a style="text-decoration: none; color: #4a4a4a;" href="{% url 'profile' srv.user.slug %}"><b>{{ srv.user.username }}</b></a> </p>
              </div>
            </div>
            <div class="card-service-tag">
              <div class="service-tag-left">
                <div class="service-packett">
                  <p>Packet:</p>
                  <p><b>{{ srv.basic_packet.basic_name }}{{ srv.standard_packet.standard_name }}{{ srv.premium_packet.premium_name }}</b></p>
                </div>
                <div class="service-deltime">
                  <p>Delvery Time:</p>
                  <p><b>{{ srv.basic_packet.basic_delivery }}{{ srv.standard_packet.standard_delivery }}{{ srv.premium_packet.premium_delivery }} Days</b></p>
                </div>                  
              </div>
              <div class="service-tag-right">
                <div class="service-rev">
                  <p>Revision:</p>
                  <p><b>{{ srv.basic_packet.basic_revision }}{{ srv.standard_packet.standard_revision }}{{ srv.premium_packet.premium_revision }}</b></p>
                </div>
                <div class="service-price">
                  <p>Price:</p>
                  <p><b>Rp{{ srv.basic_packet.basic_price }}{{ srv.standard_packet.standard_price }}{{ srv.premium_packet.premium_price }}</b></p>
                </div>
              </div>
            </div>
            <div class="card-action">
              <div class="select is-primary">
                <select style="width: 100px;">
                  <option disabled selected>Options</option>
                  <option>With options</option>
                </select>
              </div>
              <button class="button is-primary">Confirm</button>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>

      <div class="clear" style="clear: both;"></div>


      <div class="libre-footer" style="height: 80px; border-top: 2px solid #e4e5e7">
        <div class="content-left">
          <img style="width: 80px; height: 80px; display: inline-block; margin-bottom: -6px;" src="{% static 'images/libre.png' %}">
          <p style="font-size: 12px; color: #b5b6ba; display: inline-block; position: relative; bottom: 30px;">&copy; Libre Semarang Pride Company Ltd. 2021</p>
        </div>
      </div>

      <script type="text/javascript">

        $('.tabs ul').on('click','li', function(){
           $(this).addClass('is-active').siblings().removeClass('is-active');
        });
        
        var dropdown = document.querySelector('.dropdown');

        dropdown.addEventListener('click', function(event) {
          event.stopPropagation();
          dropdown.classList.toggle('is-active');
        })

        var dropdownn = document.querySelector('#dropdownreqhead');

        dropdownn.addEventListener('click', function(event) {
          event.stopPropagation();
          dropdownn.classList.toggle('is-active');
        })

        function statusTab(evt, statusName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" is-active", "");
          }
          document.getElementById(statusName).style.display = "block";
          evt.currentTarget.className += " is-active";
        }

      </script>
      {% endif %}

  </body>
</html>