{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <title>Libre - {{ title }}</title>
    </head>

    <body>
        {% if request.user.is_authenticated %}
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand mb-1">
            <a class="navbar-item" href="{% url 'buyerpage' %}">
              <img src="{% static 'images/librelogo.png' %}" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="field has-addons mt-4 ml-2">
              <div class="control has-icons-left" >
                <input class="input is-small fas fa-search" type="text" placeholder="Try some services">
                <span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <div class="control">
                <a class="button is-small has-text-black" style="background-color: #3F978D">
                  Search
                </a>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-start">
                <a style="font-weight: bold;" href="{% url 'projectlist' %}" class="navbar-item" id="prjlist">
                  List
                </a>

                <a style="font-weight: bold;" class="navbar-item">
                  Orders
                </a>

                <a href="{% url 'service:sellerpage' %}" class="navbar-item" style="color: #3F978D; font-weight: bold;">
                  Service Page
                </a>
              </div>
              <div class="navbar-item">
                <div class="dropdown is-right">
                  <div class="dropdown-trigger">
                    <button class="button is-dark is-inverted" aria-haspopup="true" aria-controls="dropdown-menu">
                      <span>
                        <figure class="image is-square is-24x24">
                          <img class="is-rounded" src="{{account.image.url}}">
                        </figure>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <a href="{% url 'profile' account.slug %}" class="dropdown-item">
                        Profile
                      </a>
                      <a class="dropdown-item">
                        Other dropdown item
                      </a>
                      <a href="#" class="dropdown-item is-active">
                        Active dropdown item
                      </a>
                      <a href="#" class="dropdown-item">
                        Other dropdown item
                      </a>
                      <hr class="dropdown-divider">
                      <a href="{% url 'logout' %}" class="dropdown-item">
                        Log Out
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <section class="section is-hidden-mobile">
          <div class="container">

          <h1 style="text-align: left; position: relative; margin: 0px; font-size: 40px; margin-bottom: 10px;">Manage Projects</h1>

          <div class="tabs is-boxed">
            <ul>
              <li class="is-active" data-target="prj-pending">
                <a style="color: #3F978D">
                  <span class="icon is-small"><i class="fas fa-spinner" aria-hidden="true"></i></span>
                  <span>Pending</span>
                </a>
              </li>
              <li data-target="prj-ongoing">
                <a style="color: #3F978D">
                  <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                  <span>On Going</span>
                </a>
              </li>
              <li data-target="prj-done">
                <a style="color: #3F978D">
                  <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
                  <span>Done</span>
                </a>
              </li>
              <li data-target="prj-declined">
                <a style="color: #3F978D">
                  <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                  <span>Decline</span>
                </a>
              </li>
            </ul>
          </div>

          <div id="tab-content">

            <table style="width: 1155px;" class="table" id="prj-pending">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Category</th>
                  <th>Deadline</th>
                  <th>Budget</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for prj in project_pending %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <td>
                    <a href="{% url 'blog:detail' prj.project.slug %}">
                      {{ prj.project.title }}
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'profile' prj.project.author.slug %}">
                      {{ prj.project.author.username }}
                    </a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <span class="tag is-warning is-light">Pending</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <table style="width: 1155px;" class="table is-hidden" id="prj-ongoing">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Category</th>
                  <th>Deadline</th>
                  <th>Budget</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for prj in project_ongoing %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <td>{{ prj.project.title }}</td>
                  <td>{{ prj.project.author.username }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <span class="tag is-info is-light">On Going</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <table style="width: 1155px;" class="table is-hidden" id="prj-done">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Category</th>
                  <th>Deadline</th>
                  <th>Budget</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for prj in project_done %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <td>{{ prj.project.title }}</td>
                  <td>{{ prj.project.author.username }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <span class="tag is-primary is-light">Done</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <table style="width: 1155px;" class="table is-hidden" id="prj-declined">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Category</th>
                  <th>Deadline</th>
                  <th>Budget</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for prj in project_declined %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <td>{{ prj.project.title }}</td>
                  <td>{{ prj.project.author.username }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <span class="tag is-danger is-light">Declined</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

          

          </div>
        </section>
    <script>

      //Dropdown

      var dropdown = document.querySelector('.dropdown');

      dropdown.addEventListener('click', function(event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
      })

      //Tabs

      const tabs = document.querySelectorAll('.tabs li');
      const tabContentBoxes = document.querySelectorAll('#tab-content > table');

      tabs.forEach(tab => {
        tab.addEventListener('click', () => {
          tabs.forEach(item => item.classList.remove('is-active'));
          tab.classList.add('is-active');

          const target = tab.dataset.target;
          // console.log(target);
          tabContentBoxes.forEach(box => {
            if (box.getAttribute('id') === target) {
              box.classList.remove('is-hidden');
            } else {
              box.classList.add('is-hidden');
            }
          })
        })
      })

    </script>
    {% endif %}
    </body>
</html>